@import url(../icons/font-awesome/css/font-awesome.min.css);
@import url(../icons/font-awesome/css/font-awesome5.min.css);

.login .row{
	margin:0;
}
html, body, .user-login, .login .row, .login .col, .login .login-content{
	height:100%;
}
.padding-left0{
	padding-left:0;
}
.padding-right0{
	padding-right:0;
}
.logo{
	margin: 0 auto;
	width:150px;
}
.login-content{
	width:100%;
	margin:0 auto;
	display:table-cell;
	vertical-align:middle;
}
.login-content input{
	border:none;
	border-bottom:1px solid #a0a9b4;
	color: #868e97;
    font-size: 14px;
	padding:10px 0;
	border-radius:0;
}
.is-invalid .form-control {
  border-color: #fc6180;
}
.invalid-feedback{
 font-size: 14px;
 margin-bottom: 10px;
}
.login-content button{
	background:#5c4ac7;
	color:#fff;
	text-transform:uppercase;
}
.login-page{
	display: table;
    height: 70vh;
    width: 100%;	
}
.login-left{
	padding:50px;
}
.login-right{
	background:linear-gradient(141deg, #735df6 0%, #4736ac 51%, #251872 75%);
}
.copyright{
	font-size: 13px;
    margin-bottom: 10px;
}
.login-footer .float-right div{
	margin-top:5px;
}
.login-footer{
	display:inline-block;
	width:100%;
}
.login-footer a{
	text-decoration:none;
	color:#000;
}
.login-footer a:hover{
	color:#000;
}
.login-footer i{
	margin-right:10px;
}
h3.title{
	color:#5c4ac7;
	margin-bottom:20px;
}
#login-carousel, .carousel-inner, .carousel-item{
	height:100%;
}
.carousel-item{
	text-align:center;
	margin:0 auto;
}
.carousel-item img{
	margin:200px 0;
}
.login-page form{
	margin:30px 0 0;
}	
@media screen and (max-width: 1300px) {
	.login-page{
		height: 60vh;	
	}
}
@media screen and (max-width: 650px) {
	.login-footer .float-right{
		width:100%;
	}
}